<div class="bg-white rounded-xl overflow-hidden shadow-xl p-0 relative text-white">
  <div class="absolute top-0 left-0 w-full h-full z-10 bg-gradient-to-b from-transparent to-black"></div>
  <app-lazy-image [url]="gif.images.downsized_medium.url" [title]="gif.title"></app-lazy-image>
  <div class="p-6 absolute bottom-0 left-0 z-20">
    <!--<h2 class="text-2xl font-bold mb-2 ">{{ gif.title }}</h2>-->
    <div class="leading-relaxed" *ngIf="gif.title">
      {{ gif.title }}
    </div>
  </div>
</div>

